%h1 Home#index

- if is_admin
  %h1 YOU ARE AN ADMIN
- else
  %h1 YOU ARE A USER, YOU SHOULDN't BE HERE!

- if current_user.role == 'admin'
  %table.table
    %tr
      %th Returned
      %th Location
      %th When
      %th
      %th
      %th

    - @items.each do |item|
      %tr
        %td= item.returned
        %td= item.location
        %td= item.when
        %td= link_to 'Show', item, class:"btn btn-success"
        %td= link_to 'Edit', edit_item_path(item), class:"btn btn-primary"
        %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-danger"
  %br
  %table.table
    %tr
      %th Username
      %th First Name
      %th Last Name
      %th Email
      %th Phone
      %th

    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.phone
        %td= link_to 'Show', user, class:"btn btn-success"
        %td= link_to 'Edit', edit_user_path(user), class:"btn btn-primary"
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-danger"
  %br
  %table.table
    %tr
      %th Plate No.
      %th Province
      %th Owner
      %th
      %th
      %th

    - @taxis.each do |taxi|
      %tr
        %td= taxi.plate_no
        %td= taxi.province
        %td= taxi.owner
        %td= link_to 'Show', taxi, class:"btn btn-success"
        %td= link_to 'Edit', edit_taxi_path(taxi), class:"btn btn-primary"
        %td= link_to 'Destroy', taxi, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-danger"
