%h1 Listing items

%table
  %tr
    %th Returned
    %th Location
    %th When
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.returned
      %td= item.location
      %td= item.when
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lost item', new_item_path
