= form_for @rate do |f|
  - if @rate.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rate.errors.count, "error")} prohibited this rate from being saved:"
      %ul
        - @rate.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :comment
    = f.text_area :comment
  .field
    = f.label :rating
    = f.number_field :rating
  .actions
    = f.submit 'Save'
